@use "../base/colors";

.button-main {
  cursor: pointer;
  width: 150px;
  height: 40px;
  align-self: center;
  display: block;
  border-radius: 140px;
  border: 0px;
  background-color: colors.$green-color;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}

.button-main:hover {
  background: colors.$orange-color;
  color: colors.$background-color;
  box-shadow: -2px 3px 4px 0px colors.$blue-color;
  -webkit-box-shadow: -2px 3px 4px 0px colors.$blue-color;
  -moz-box-shadow: -2px 3px 4px 0px colors.$blue-color;
  transform: translateY(-2px);
  transition: transform 250ms cubic-bezier(0.3, 0.7, 0.4, 1.5);
}

.button-main:active {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.button-close {
  text-decoration: none;
  cursor: pointer;
  width: 32px;
  height: 32px;
  background-color: colors.$orange-color;
  border-radius: 50%;
  color: black;
  text-align: center;
  font-size: 22px;
  position: absolute;
  margin-top: -30px;
  margin-right: -10px;
  place-self: flex-end;
}
