// accent color
$orange-color: #ffc3a4;
$blue-color: #6259fa;
$dark-purple-color: #322a5a;
$green-color: #b9f8b9;
$gray-color: #e3e3e5;

// global-properties
$font-color: white;
$background-color: #16152b;
