.filter-options {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + label {
    cursor: pointer;
    width: 8rem;
    height: 8rem;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  input[type="checkbox"]:checked + label {
    background: #0080ff;
  }
}
