@use "../base/colors";

.question1 {
  ul {
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 1rem;
    padding-left: 0;
    width: 350px;
  }
  li {
    background-color: red;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  label {
    text-align: center;
    cursor: pointer;
  }
  div {
    width: 6rem;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="checkbox"]:checked + label {
    background-color: #bbb;
  }
}

.quiz-container p {
  text-align: center;

  &:nth-child(3) {
    padding-bottom: 20px;
  }
}

.radio-flex-2 {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  input[type="radio"] {
    display: none;
  }

  label {
    cursor: pointer;
    width: 5rem;
    height: 5rem;
    background-color: #322a5a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-bottom: 10px;

    &:hover {
      background-color: colors.$orange-color;
      color: black;
    }
  }

  input[type="radio"]:checked + label {
    background-color: colors.$green-color;
    color: black;
  }
}

.quiz-container .iconify {
  font-size: 2rem;
  margin-top: 1rem;

  &:nth-child(1) {
    margin-top: 0;
  }
}

.hidden {
  display: none;
}
